<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" (click)="home()" style="color:white;">Employee Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  </nav> 

<div>
    <h1 class="text-center text-Primary">
        Enrolled Employee List
    </h1>
</div>

<div class="row">
    <div class="col-md-3" *ngFor="let e of employees">
        <div fxlayout="row wrap" fxLayoutGap="16px">
        <mat-card class="example-card card-shadow content mat-elevation-z6 " >
            <mat-card-title style = "text-align:center;" class="text-danger">
              {{e.firstName}}-{{e.lastName}}
            </mat-card-title>
            
        </mat-card>
    </div>
    </div>  
</div>  
