
.whole{
    padding:20px;
}

.button{
    background-color: blueviolet;
}

mat-card{
    background-color: white;
    color: black;
}

.img{
    height:200px;
}

.example-card {
    max-width: 400px;
  }

  .button1 {width: 100%;}